<!DOCTYPE html>
<html lang="fr">
{% extends 'index/base.html' %}
{% load static %}
{% load tag_aliments %}
<head>
    <meta charset="UTF-8">
    <title>Profil de {{ user.username }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Awesome Icons -->
    <link href="{% static 'index/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic'
          rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'index/css/magnific-popup.css' %}" rel="stylesheet">

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="{% static 'index/css/creative.min.css' %}" rel="stylesheet">

    <!-- My Input of page -->
    <link href="{% static 'index/css/myinput.css' %}" rel="stylesheet">

    <!-- My Form of page -->
    <link href="{% static 'index/css/myform.css' %}" rel="stylesheet">

    <!-- images results form badge + image -->
    <link href="{% static 'aliments/css/image_css' %}" rel="stylesheet">

    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/cdcf4ac432.js"></script>

    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'index/images/logo_pur_beurre-favicon.png' %}"/>

</head>

{% block header %}
<header class="masthead" id="head">
    <style>
        #tw1, #tw2{
            border-color: white;
            background-color: brown;
            width: 60%;
        }

        #tl1, #tl2{
            border-color: white;
            background-color: brown;
            text-color: white;
        }

        #tc, #tc1{
            border-color: white;
        }

        #table2{
            width:100%;
            position:relative;
            margin-left: 15%;
            margin-right: 15%;
        }

        .row{
            margin-left:auto;
            margin-right:auto;
        }

        #al{
            border-color: white;
            background-color: brown;
            width: 50%;
            margin-left:auto;
            margin-right:auto;
        }

        #aliment{
            margin-left: 30px;
        }
    </style>
    <section class="page-section">
        <div class="row col-6">
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th id="tc" class="text-center" colspan="2">Profil de {{ user.get_username }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td id="tl1" class="text-white">Nom d'utilisateur:</td>
                    <td id="tw1" class="text-white">{{ user.username }}</td>
                </tr>
                <tr>
                    <td id="tl2" class="text-white">Email:</td>
                    <td id="tw2" class="text-white">{{ user.email }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>


</header>
{% endblock header %}

{% block section %}
<body background="{% static 'index/images/bg-masthead.jpg' %}">
<section class="page-section" id="section">
    <div class="row">
        <table id="table2" class="table table-bordered">
            <thead class="thead-dark" id="td2">
            <tr>
                <th id="tc1" class="text-center" colspan="2">Mes favoris</th>
            </tr>
            </thead>
            <tbody>
            {% for aliment in aliments %}
            <tr>
                <td id="al" class="text-white">
                    {{ aliment|form_aliment }}
                    <form action="/aliments/delete/{{ aliment.name }}/" method="post">{% csrf_token %}
                        <button type="submit" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'index/js/jquery.min.js' %}"></script>
<script src="{% static 'index/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'index/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'index/js/jquery.magnific-popup.min.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'index/js/creative.min.js' %}"></script>
{% endblock section %}
</body>


</html>